<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>crm</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.fosu.crm.settings.web.controller.UserController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <!--url-pattern:模块/功能.do-->
    <url-pattern>/settings/user/save.do</url-pattern>
  </servlet-mapping>


</web-app>
